<div id="<%= dom_id group %>">
<div class="group-display">
<div class="group-list row">
  <div class="img col"><img src="<%= group.icon %>"> </div>
  <div class="group-name col">
  <%= link_to group.name, user_group_path(id: group.id, user_id: group.user_id) %>
  <span class="date"><%= group.created_at.to_date %></span>
  </div>
  <div class="group-amount col">
  <%= total_amount_helper(Expenditure.all.where(group_id: group.id)) %>
  </div>
  <span class="group-edit"><%= link_to "Edit Category", edit_user_group_path(id: group.id, user_id: group.user_id) %> </span>
</div>
</div>
