<div id="<%= dom_id group %>">
<div class="group-display">
<div class="group-list">
  <div class="img"><img src="<%= group.icon %>"> </div>
  <div class="group-name"><%= link_to group.name, user_group_expenditures_path(group_id: group.id) %> </div>
  <span><%= number_to_currency(@expenditures.sum(&:amount)) %> </span>
  </div>
  <span class="date"><%= group.created_at.to_date %></span>
</div>
</div>
