<div id="groups" class="container">
<% if user_signed_in? %>
 <div class="grouping">

 <div class="total row">
    <h3 class="col-6 h3-one">Total Expenditures</h3>
    <h3 class="col-6 h3-two"><%= number_to_currency(@expenditures.sum(&:amount)) %> </h3>
 </div>
 
  <% @groups.each do |group| %>
  <%= render group %>
  <% end %> 
  <div class="new-form"> 
   <span> <%= link_to 'New Category', new_user_group_path %> </span>
  </div>
</div>
 <% else %>
 <span class="sign-link"> <strong> <%= link_to 'Sign In', new_user_session_path %> </span>
 <span class="sign-link"><strong> <%= link_to 'Sign Up', new_user_registration_path %> </strong> </span> 
 <% end %> 
</div>
