<div class="form">
<%= form_with model: [@user, @group, @expenditure] do |form| %>

  <div>
    <%= form.text_field :name, placeholder: "Expense Name" %>
  </div>

  <div>
    <%= form.number_field :amount, placeholder: "Expense Amount" %>
  </div>
  <%= form.hidden_field :group_id, value: @group.id %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>